<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style>

        .surat {
            font-family: "Bookman Old Style", "Verdana";
            font-size: 0.35cm;
            width: 600px;
            margin: auto;
        }

        .table_data th {
            padding: 5px;
        }

        .table_data td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <table border="0" class="surat">
        <tr>
            <td class="text-center"><img
                    src="https://bogorkab.go.id/uploads/config/085993041728c96df0b3e40ecdba8200.png" width="80px"
                    height="auto"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center">PEMERINTAH KABUPATEN BOGOR</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center"><strong>PERNYATAAN PERJANJIAN KINERJA</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center"><strong>{{strtoupper($selected_skpd->name)}}</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-center"><strong>PERJANJIAN KINERJA TAHUN {{$tahun}}</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Dalam rangka mewujudkan manajemen pemerintahan yang efektif, transparan, dan
                akuntabel serta berorientasi pada hasil, kami yang bertanda tangan di bawah ini:</td>
        </tr>
        <tr>
            <td class="text-justify">
                <table width="100%" border="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="125px">Nama</td>
                        <td>: {{$pegawai}}</td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td>: {{$jabatan}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Selanjutnya disebut sebagai PIHAK PERTAMA</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">
                <table width="100%" border="0">
                    <tr>
                        <td width="125px">Nama</td>
                        <td>: {{$selected_periode->walikota}}</td>
                    </tr>
                    <tr>
                        <td>Jabatan</td>
                        <td>: Bupati Kabupaten Bogor</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Selaku atasan langsung pihak pertama</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Selanjutnya disebut sebagai PIHAK KEDUA</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Pihak pertama berjanji akan mewujudkan target kinerja yang seharusnya sesuai
                lampiran perjanjian ini, dalam rangka mencapai target kinerja jangka menengah seperti yang telah
                ditetapkan dalam dokumen perencanaan. Keberhasilan dan kegagalan pencapaian target kinerja tersebut
                menjadi tanggung jawab kami.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">Pihak kedua akan melakukan supervisi yang diperlukan serta akan melakukan evaluasi
                terhadap capaian kinerja dari perjanjian ini dan mengambil tindakan yang diperlukan dalam rangka
                pemberian penghargaan dan sanksi.</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0">
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">Bogor, {{$tanggal_pk}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="50%" class="text-center">PIHAK KEDUA</td>
                        <td class="text-center">PIHAK PERTAMA</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="70px"></td>
                    </tr>
                    <tr>
                        <td width="50%" class="text-center">{{$selected_periode->walikota}}</td>
                        <td class="text-center">{{$pegawai}}</td>
                    </tr>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">-</td>
                    </tr>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">NIP. {{$nip}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <p style="page-break-before: always;"></p>

    <table border="0" class="surat">
        <tr>
            <td class="text-center"><strong>PERJANJIAN KINERJA</strong></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="text-justify">
                <table width="100%" border="0" style="font-weight: bold;">
                    <tr>
                        <td width="200px">SKPD</td>
                        <td>: {{strtoupper($selected_skpd->name)}}</td>
                    </tr>
                    <tr>
                        <td>TAHUN ANGGARAN</td>
                        <td>: {{$tahun}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered table_data">
                    <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Sasaran</th>
                            <th></th>
                            <th class="text-center">Indikator Kinerja</th>
                            <th class="text-center">Satuan</th>
                            <th>Target</th>
                        </tr>
                    </thead>
                    @php

                    $last_sasaran = '';

                    $sasaran_no = 0;
                    $sasaran_indikator_no = 0;
                    @endphp
                    @foreach($table_data_1 as $idx => $row)
                    @php
                    $show_sasaran = '';
                    $show_sasaran_no = '';
                    if($last_sasaran != $row->sasaran_point){
                    $show_sasaran = $row->sasaran_point;
                    $last_sasaran = $row->sasaran_point;
                    $sasaran_no++;
                    $show_sasaran_no = $sasaran_no;
                    $sasaran_indikator_no = 0;
                    }

                    $sasaran_indikator_no++;
                    $show_sasaran_indikator_no = $sasaran_no.".".$sasaran_indikator_no;
                    @endphp
                    <tr>
                        <td class="text-center">{{$sasaran_no}}</td>
                        <td class="text-justify">{{$show_sasaran}}</td>
                        <td class="text-center">{{$show_sasaran_indikator_no}}</td>
                        <td class="text-justify">{{$row->sasaran_indikator_point}}</td>
                        <td class="text-center">{{$row->satuan}}</td>
                        <td class="text-center">{{$row->target}}</td>
                    </tr>
                    @endforeach
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered table_data">
                    <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Program</th>
                            <th class="text-center">Anggaran (Rp)</th>
                            <th class="text-center">Sumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        @php
                        $no = 1;
                        $total_anggaran = 0;
                        @endphp

                        @foreach($table_data_2 AS $row)
                        <tr>
                            <td class="text-center">{{$no}}</td>
                            <td class="text-justify">{{$row->point}}</td>
                            <td class="text-right" width="170px">{{is_null($row->anggaran) ? 0 : $row->anggaran}}</td>
                            <td class="text-justify">{{$row->sumber}}</td>
                        </tr>
                        @php
                        $no++;

                        $total_anggaran += is_null($row->anggaran) ? 0 : str_replace(".", "", $row->anggaran);
                        @endphp
                        @endforeach
                        <tr>
                            <th colspan="2" class="text-center">TOTAL</th>
                            <td class="text-right">{{number_format($total_anggaran, 0, ',','.')}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0">
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">Bogor, {{$tanggal_pk}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="50%" class="text-center">PIHAK KEDUA</td>
                        <td class="text-center">PIHAK PERTAMA</td>
                    </tr>
                    <tr>
                        <td colspan="2" height="70px"></td>
                    </tr>
                    <tr>
                        <td width="50%" class="text-center">{{$selected_periode->walikota}}</td>
                        <td class="text-center">{{$pegawai}}</td>
                    </tr>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">-</td>
                    </tr>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td class="text-center">NIP. {{$nip}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>
