/* latin-ext */

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sora/v3/xMQOuFFYT72X5wkB_18qmnndmScMnk-DKQJRBg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sora/v3/xMQOuFFYT72X5wkB_18qmnndmScMnk-NKQI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#content-wrapper {
    font-family: 'Sora';
    color: #555;
    font-weight: 600;
}

button > #exampleModalAdd{
    background-color:#5cf97a;
}

#content-wrapper label,
#content-wrapper input,
#content-wrapper select option {
    font-size: 14px;
}

.alert {
    font-size: 14px;
    transition: .3s;
}


/* show hieararki bar */

.info_bar.show-hidden {
    top: 0;
    visibility: hidden;
    opacity: 0;
}

a.info_btn {
    font-size: 18px;
    color: #00f7ff;
    transition: .2s;
}

a.info_btn:hover {
    color: rgb(0, 200, 214);
}

.hierarki_m {
    padding: 5px 5px;
    border-bottom: 1px solid rgba(200, 200, 200, .2);
    width: max-content;
    color: #edd;
    cursor: pointer;
}

.hierarki_m:hover {
    color: #eef;
}


/* end hierarki */

.filter {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.filter select {
    width: 250px;
}

.filter button {
    position: absolute;
    right: 0;
    margin-top: 5px;
    width: 100px;
}

.name-apps {
    color: #777;
    font-weight: 600;
    font-size: 18px;
}

table th,
table td,
table td button {
    font-size: 15px;
}

table th {
    color: #777;
    text-decoration: none;
}

table td {
    font-size: 15px;
    line-height: 1.5rem;
    color: #868ba1;
}

table th:last-child,
table td:last-child {
    text-align: center;
}

table td button,
table td a {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.btn-red {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid transparent;
    border-color: #dc3545;
    text-align: center;
    display: inline-block;
}

.btn-orange {
    background-color: #F49917;
    color: #fff;
    border: 1px solid transparent;
    border-color: #F49917;
    text-align: center;
    display: inline-block;
}

.brand {
    font-size: 20px;
    color: #666;
}

.br-pageheader {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.br-pageheader nav {
    display: flex;
    align-items: center;
}

.breadcrumb {
    background-color: #333;
}

.breadcrumb-item {
    color: #999;
    font-size: 13px;
}

.breadcrumb-item:hover {
    text-decoration: none;
    color: #666;
}

.card {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

.card-header {
    display: flex;
    justify-content: space-between;
}

textarea {
    padding: 4px 12px;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
}

textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #4da1e6;
    box-shadow: -3px 9px 5px -10px #58a7e8;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: rgb(130, 130, 130);
}

.select2-selection__rendered {
    line-height: 32px !important;
}

.select2-selection {
    height: 34px !important;
}


/* Customize the label (the container) */

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #999;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}